h1 {text-align: center;}
hr {width: 700px;}
#current {text-align: center; margin-top: 20px;}
#txt_current {text-align: center; border: 0; width: 80px;}
.product {display: inline-block; border: 1px solid; padding: 5px 10px; margin: 5px 10px 15px 10px;}
#products {text-align: center;}
.btnCount {border-radius: 50%; border: none; margin: 0px 5px; background-color: rgb(233, 233, 233);}
.btnCount:hover {background-color: rgb(208, 208, 208);}
.txtCount {width: 25px; text-align: center; font-size: 11px; border: none;}
.txtPrice {width: 45px; text-align: center; border: none;}
#total {border: 1px solid; text-align: center; margin: auto; width: 200px; padding-top: 10px;}
#totalPrice {padding: 5px;}
#btns {margin: auto; text-align: center; margin-top: 5px;}
