#content 
{
    text-align: center;
    padding-top: 20%;
    font-size: 0;
    background-color: coral;
}
span.txt
{
    display: inline-block;
    width: 60px;
    font-size: 11pt;
}

div#account, div#submit
{
    display: inline-block;
    height: 50px;
    text-align: center;
    background-color: antiquewhite;
    padding: 10px 5px;
}

div#submit
{
    width: 50px;
    background-color: blue;
}

#submitBtn
{
    height: 80%;
}